.accordion-button{
    padding: 0.7rem 1.2rem;
    border-radius: 3px;
    border: none;
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 72%);
    margin: 1rem auto;
    font-size: 12px;
}