.cp-container{
    width: 400px;
    height: 250px;
    margin-bottom: 20px;
    border-radius: 10px;
    margin :1rem auto
}

.cp-button {
    width: auto;
    height: auto;
    margin: 5px ;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 1rem;
}

.class{
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.2rem;
    margin: 1rem auto;

}