.tab-text {
    color: #fff;
    margin: 1rem auto;

}

.tab-button {
 padding: 0.5rem 1rem;
  margin-right: 10px;
  border: none;
  background-color: #eee;
  cursor: pointer;
  font-weight: normal;
}

.tab-button.active {
  background-color: #333;
  color: white;
  font-weight: bold;
  border-radius: 4px;
}
