@import-normalize;
@import "tailwindcss";

body {
  font-family: sans-serif;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(25deg, hsl(0, 10%, 70%), hsl(10, 0%, 50%) 50%);
  min-height: 100vh;
  font-size: 1rem;
  margin: 0;
}
